$dark-brown: #332E29;
$light-pink: #F0E3D7;
$orange: #EF7A2E;
$letter: #d6cccc;

$font-menu: 'League Spartan', sans-serif; 
$font-main: 'Montserrat', sans-serif;
$font-button: 'Oswald', sans-serif;


* {
    font-family: $font-main;
}

.button {
    width: 50%;
    padding: 12px 0;
    font-family: $font-button;
    text-transform: uppercase;
    letter-spacing: .2rem;
    background-color: inherit;
    color: $letter;
    border: 2px solid $letter;
    margin-left: 10%;
    margin-bottom: 10%;
}



.header {
    // display: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-family: $font-menu;
    background-color: $dark-brown;
    color: $letter;
    padding: 30px 0;

    &__img {
        filter: invert(100%);
        margin-right: 10%;
    }
    &__title {
        margin-left: 10%;
        font-size: 2rem;
    }
    
}

.presentation {
    // display: none;
    position: relative;
    &__img {
        background-image: url('../images/presentation__img.jpg');
        background-position: center;
        background-size: cover;
        height: 80vh;
        width: 100vw;
    }
    &__title {
        color: white;
        font-size: 2rem;
        position: absolute;
        top: 65vh;
        font-weight: bold;
        font-size: 2.6rem;
        margin-left: 10vw;
        font-family: $font-main;
    }
    
    &__text {
        background-color: $dark-brown;

        &-paragraph {
            color: $letter;
            padding: 30px;
            font-size: 1.40rem;
            letter-spacing: .1rem;
            line-height: 1.5rem;
            text-align: justify;
        }
    }
}

.about {
    background-color: $light-pink;
    padding-bottom: 10%;
    // display: none; 

    &__title {
        font-size: 2rem;
        font-family: $font-main;
        text-align: center;
        font-weight: bold;
        padding: 10% 10% 2% 10%;
    }
    &__subtitle {
        font-family: $font-button;
        color: black;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 10px;
    }
    &__line {
        color: $orange;
        font-weight: bold;
        font-size: 2rem;
        transform: rotate(180deg);
        text-align: center;
    }
    &__text {
        color: black;
        font-family: $font-main;
        padding: 0px 30px 30px 30px;
        font-size: 1.40rem;
        letter-spacing: .1rem;
        line-height: 1.5rem;
        text-align: center;
    }

    &__img {
        width: 80vw;
        height: 400px;
        margin: 0 auto 30px auto;
        background-position: center;
        background-size: cover;
    }
    &__img1 {
        background-image: url('../images/about__img1.jpg');
    }
    &__img2 {
        background-image: url('../images/about__img2.jpg');
        background-position: center;

    }
    &__img3 {
        background-image: url('../images/about__img3.jpg');
    }
    &__button {
        border-color: $orange;
        color: $dark-brown;
        display: block; 
        margin: auto;
    }
}

.info {
    // display: none;
    background-image: url('../images/info.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: auto;
    padding: 50% 0;

    &__cards {
        width: 80%;
        margin: auto;
        height: 250px;
        background-color: $orange;
        padding: 5% 5% 5% 5%;

        &:not(:first-child) {
            margin-top: 30px;
        }

        &-img {
            width: 70px;
        }
        &-title {
            color: white; 
            font-family: Times, serif;
            font-weight: 600;
            font-size: 1.7rem;
            text-transform: uppercase;
            letter-spacing: -0.1rem;
            margin: 10px 0;
        }
        &-text {
            color: white;
            font-size: 1.3rem;
            font-style: italic;
            line-height: 1.5rem;
        }
    }
}

.motivation {
    // display: none;
    background-color: $light-pink;
    padding-top: 50px;
    padding-bottom: 50px;

    &__text {
        color: $dark-brown;
        filter: opacity(.75);
        font-size: 1.7rem;
        font-family: cursive;
        font-style: italic;
        text-align: center;
        margin-bottom: 30px;
        line-height: 2.5rem;
        padding: 0 30px;
    }
    &__img {
        background-image: url('../images/motivation__img.jpg');
        height: 250px;
        width: 80%;
        background-size: cover;
        margin: auto;

    }
}

.price {
    // display: none;
    background-color: $orange;
    padding: 30px 0;
    font-family: $font-main;

    &__title{
        font-size: 2.5rem;
        font-weight: bold;
        color: white;
        text-align: center;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.631);
        margin: 0 10px;
    }
    &__text{
        text-align: center;
        margin: 30px 10px;
        color: white;
        line-height: 1.5rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
    &__button{
        display: block;
        margin: auto;
        color: $orange;
        background-color: white;
        font-family: $font-button;
        font-size: 1.3rem;
        border: none;
    }
}

.membership {
    padding-top: 50px;
    font-family: $font-main;

    &__info {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 30px;
    }
    &__preTitle {
        font-size: 1.2rem;
        text-transform: uppercase;
        filter: opacity(.9);
        letter-spacing: .4rem;
        padding-bottom: 10px;
    }
    &__title {
        font-size: 1.7rem;
        filter: opacity(.9);
        font-weight: bold;
    }
    &__text {
        font-size: 1.3rem;
        padding: 30px 0;
        text-align: center;
    }
    &__button {
        display: block;
        margin: auto;
        color: black;
        font-size: 1.3rem;
        border-color: black;
        filter: opacity(.8);
    }
    &__img {
        background-image: url('../images/membership__img.jpg');
        width: 100vw;
        height: 50vh;
        background-position: center;
        background-size: cover;
    }
}
.footer {
    background-color: black;
    padding-left: 20px;
    font-family: $font-main;
    color: white;

    &__text {
        padding: 10px 0 10px 0;
        font-size: 1.5rem;

    }
    &__icons{
        display: flex;
        :not(:first-child) {
            margin-left: 20px;
        }
    }
    &__icon {
        filter: invert(100);
        height: 30px;
    }
    &__contacts {
        margin-top: 20px;
        margin-bottom: 20px;
        :not(:first-child) {
            margin-top: 10px;
        }
        :last-child {
            padding-bottom: 10px;

        }
    }
}